[submodule "dependencies/rocket-chip"]
	path = dependencies/rocket-chip
	url = https://github.com/chipsalliance/rocket-chip.git
[submodule "dependencies/constellation"]
	path = dependencies/constellation
	url = https://github.com/ucb-bar/constellation.git
[submodule "dependencies/inclusivecache"]
	path = dependencies/inclusivecache
	url = https://github.com/chipsalliance/rocket-chip-inclusive-cache.git
[submodule "dependencies/blocks"]
	path = dependencies/blocks
	url = https://github.com/chipsalliance/rocket-chip-blocks.git

